@import "settings";
@import "foundation";

$gray:			#525151;
$bannerGray:	#4b4a4a;
$copyGray:		#fdfcfc;
$footerGray:	#77787b;

$lightRed:		#ab483e; //#ab584e;
$darkRed:		#783936; //#794643;
$bannerRed:		#a54a3f;
$bannerDarkRed:	#5c140b; //#5c1d14;

$fortisRed: #683431;
$copyTwo: #dad7ce;
$copyThree: #c5d3da;

// typography

html, body {
	height: 100%;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
	font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 300; font-style: normal;
	color: $copyGray;
	background-color: #282828;
}

h1 {
	font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 700; font-style: normal;
	color: #fff;
	font-size: 1.5rem;
	letter-spacing: -0.02em;
	line-height: 2rem;
	text-transform: uppercase;
}

p {
	font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 300; font-style: normal;
	color: $copyGray;
	font-size: 0.8rem;
	-webkit-font-smoothing: antialiased;
}


// Classes & IDs

.badge {
	display: block;
	width: 30px;
	margin: 20px auto 10px;
}

.copyBlock {
	display: block;
	height: 60%;
	padding: 8%;

	&.copyOne {
		background-color: $fortisRed;
	}
	&.copyTwo {
		background-color: $copyTwo;

		h1 {color: #a4493d;}

		p {color: #54585a;}
	}
	&.copyThree {
		background-color: $copyThree;

		h1 {color: #5b7f95;}

		p{color: #54585a;}
	}

	hr {
		height: 8px;
		width: 130px;
		border-top: 8px solid #fff;
	}
}

.fdic {
	width: 100px;
	height: auto;
	margin-top: 0; //50px;
	padding-bottom: 220px;
}

.footer {
	background-color: #54585a;
	padding: 10px 32px 10px 32px;

	h1 {
		color: #909597;
		margin-top: 40px;
		line-height: 1rem;
	}

	p {
		line-height: 0.5rem;
	}

	a {
		color: $copyGray;
	}
}

.fullHeight {
	height: auto;
}

#masthead {	
	position: fixed;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: #ffffff;
	z-index: 9998;
	border-bottom: 1px solid #683431;

	#logo {

		a {
			display: block;
			height: auto;
			width: auto;

			img {
				margin: 15px auto 0 auto;
				height: 20px;
				display: block;
				width: auto


			}

		}
	}

	#navigation { 
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 45px;

		div {
			text-align: center;

			a {
				font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 700; font-style: normal;
				color: $copyGray;
				font-size: 14px; //rem-calc(10);

				display: block;
				vertical-align: middle;
				width: 100%;
				height: 45px;
				line-height: 45px;
				//padding: 3% 0;

			}

		}

		div.gray {background: $gray}
		div.lightRed {background: $lightRed}
		div.darkRed {background: $darkRed}
	}

}

#mobilemenu {
	position: absolute;
	top: 15px;
	left: 0px; //20px;
	height: 20px;
	width: 100%; //290px;
	background-image: url(/images/menu2.png);
	background-repeat: no-repeat;
	background-size: 30px 20px;
	background-position-x: 15px;
	z-index: 9999;
	overflow: visible;

	.dropdown.button::after, button.dropdown::after {
	   display: none;
	}

	.dropdown.button, button.dropdown {
	    //position: absolute !important;
	    //padding-right: 3.5625rem;
	}

	

	button, .button {
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    border-radius: 0;
	    border-style: solid;
	    border-width: 0;
	    cursor: pointer;
	    font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 700 !important; font-style: normal;
	    line-height: normal;
	    //margin: 0 0 1.25rem;
	    position: relative;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    padding: 1rem 2rem 1.0625rem 2rem;
	    font-size: 1rem;
	    background-color: transparent; //#008CBA;
	    border: none; //#007095;
	    color: transparent;
	    transition: background-color 300ms ease-out;
	}

	ul#drop {
		width: 280px;
	}

}

.photo {
	width: 100%;
	height: 250px;
	background-size: cover;

	&.photoOne {
		background-image: url(/images/photoMain1.jpg);
	}
	&.photoTwo {
		background-image: url(/images/photoMain2.jpg);
	}
	&.photoThree {
		background-image: url(/images/photoMain3.jpg);
	}
}

.row {

	&.fullWidth {
	   width: 100%;
	   margin-left: auto;
	   margin-right: auto;
	   max-width: initial;
	}

	.row {
		margin: 0;
	}
}

// Large only exceptions

@media #{$large-up} { 

	h1 {
		font-size: 30px;
		line-height: 2.5rem;
	}

	p {
		font-size: 16px;
	}

	.badge {
		position: absolute;
		bottom: 5%;
		left: 50%;
		margin-left: -22px;
		width: 45px;
	}

	.copyBlock {
		position: relative;
		z-index: 100;
		width: 590px; //650px; //43%;
		height: 590px; //auto; //590px; //50%;
		overflow: hidden;
		top: 50%; //200px;
		margin-top: -235px; // 300 - 180
		left: 75px;
		padding:4% 4% 3% 4%;

		&.copyOne {
			height: 450px;
			margin-top: -165px;
		}

		&.copyTwo {
			height: 490px;
			margin-top: -185px;
			left: auto;
			float: right;
			margin-right: 75px;
		}

		&.copyThree {
			height: 590px;
			margin-top: -235px;
		}
	}

	.fdic {margin-bottom: 0;}

	.footer {
		padding: 40px 32px;  

		h1 {
			margin-top: 10px;
		}
	}

	.fullHeight {
		position: relative;
		width: 100%;
		height: 100%;
		min-height: 825px;

		&.footer {
			height: 650px;
			padding-top: 150px;

			h1 {
				margin-left: 110px;
			}

			p {line-height:1.7rem;}
		}
	}

	//header
	#masthead {	
		background-color: #54585a;
		height: 120px;

		.row {
			height: 100%;
		}

		#logo {
			position: relative;
			z-index: 20;
			height: 100%;
			background-color: #fff;

			a {
				height: auto;
				width: auto;
				margin-top: 40px;

				img {
					height: 35px;
					display: block;
					width: auto
				}

			}
		}

		.nav {
			margin-top: 48px;
			width: auto !important;
			float: none !important;
			//padding-left: 5%;

			ul {
				text-align: justify;

				li {
					display: inline-block;
					list-style: none;

					&.first {margin-left: 50px;}
					&.last {margin-right: 50px;}

					a {
						font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 700; font-style: normal;
						color: $copyGray;
						text-align: left;
						font-size: 16px;
						line-height: 1rem;
					}
				}
			}

			ul:after {
			  content: '';
			  width: 100%; /* Ensures justification for single lines */
			  display: inline-block;
			}

		}

	}

	.photo {
		height: 100%;
		//min-height: 800px;
	}

	.row {
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
	}
}

// Xtra Large and up exceptions

@media #{$xlarge-up} { 

	h1 {
		font-size: 32px;
		line-height: 3.2rem;
	}

	p {
		font-size: 18px;
	}

	.badge {
		width: 55px;
		//margin-top: 30px;
	}

	.copyBlock {
		width: 660px;// 800px;

		&.copyOne {
			height: 520px; //800px;
			margin-top: -200px;
		}

		&.copyTwo {
			height: 570px; //800px;
			margin-top: -225px;
		}

		&.copyThree {
			height: 660px; //800px;
			margin-top: -270px;
		}
	}

	.fdic {
		width: 150px;
		float: right;
		margin-top: 0;
    	margin-right: 10px;
	}

	.fullHeight {
		//height: 1200px; //100%;

		&.footer {
			height: 1000px;
			padding-top: 150px;

			h1 {
				margin-left: 110px;
			}

			p {line-height:1.7rem;}
		}
	}

	.photo {
		height: 100%;
		//min-height: 800px;
	}

	.row {
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
	}

}

// iPad Landscape Exceptions

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {


	html, body {height: 100%;}

	h1 {
		font-size: 24px;
		line-height: 2.5rem;
	}

	p {
		font-size: 12px;
	}

	.hide-for-large-up {display: none !important;}
	.show-for-large-up {display: inherit !important;}

	.badge {
		position: absolute;
		bottom: 5%;
		left: 50%;
		margin-left: -22px;
		width: 40px;
	}

	.copyBlock {
		position: relative;
		z-index: 100;
		width: 480px; //43%;
		height: 480px; //500px; //50%;
		top: 50%; //145px;
		margin-top: -275px;
		left: 45px;
		padding:4%;

		&.copyTwo {
			left: auto;
			float: right;
			margin-right: 45px;
		}
	}


		.footer {
			height: 800px;
			padding-top: 100px;
			//margin-bottom: 150px;

			h1 {
				margin-left: 0; //110px;
			}

			p {line-height:0.9rem;}

			.small-6 {
				margin-top: 50px;
			}

			.fdic {
				position: absolute;
				left: 45px;
				bottom: 0;
			}
		}

	.fullHeight {
		position: relative;
		width: 100%;
		height: 100%;
		min-height: 825px;
	}

	//header
	#masthead {	
		background-color: #54585a;
		height: 100px;

		.row {
			height: 100%;
		}

		#logo {
			position: relative;
			z-index: 20;
			height: 100%;
			background-color: #fff;

			a {
				height: auto;
				width: auto;
				margin-top: 35px;

				img {
					height: 25px;
					display: block;
					width: auto
				}

			}
		}

		.nav {
			margin-top: 35px;
			width: auto !important;
			float: none !important;
			//padding-left: 5%;

			ul {
				text-align: justify;

				li {
					display: inline-block;
					list-style: none;

					&.first {margin-left: 50px;}
					&.last {margin-right: 50px;}

					a {
						font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 700; font-style: normal;
						color: $copyGray;
						text-align: left;
						font-size: 14px;
						line-height: 1rem;
					}
				}
			}

			ul:after {
			  content: '';
			  width: 100%; /* Ensures justification for single lines */
			  display: inline-block;
			}

		}

	}

	.photo {
		height: 100%;
		//min-height: 800px;
	}

	.row {
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
	}
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
